#hero--spirit-mark {
	height: 167px;
	position: absolute;
	right: 2rem;
	top: 50px;
	width: 170px;
}

@media screen and (max-width: 495px) {

	#hero--spirit-mark {
		top: 10vw;
	}
}

@media screen and (max-width: 606px) {

	#hero--spirit-mark {
		right: 5.56vw;
	}
}

@media screen and (max-width: 747px) {

	#hero--spirit-mark {
		height: auto;
		width: 22.75vw;
	}
}

@media only screen and (min-width: 1086px) {

	#hero--spirit-mark {
		right: calc(50% - 510px);
	}
}

#hero--spirit-mark path {
	fill-opacity: 0;
	stroke: #a60f2d;
	stroke-width: 1;
	animation: trace 1.2s ease-in-out forwards, paint .4s ease-in-out forwards .8s;
}

#hero--spirit-mark-w {
	stroke-dasharray: 570;
	stroke-dashoffset: 570;
}

#hero--spirit-mark-s {
	stroke-dasharray: 760;
	stroke-dashoffset: 760;
}

#hero--spirit-mark-u {
	stroke-dasharray: 200;
	stroke-dashoffset: 200;
}

#hero--spirit-mark-dot {
	stroke-dasharray: 55;
	stroke-dashoffset: 55;
}

@keyframes trace {

	to {
		stroke-dashoffset: 0;
	}
}

@keyframes paint {

	to {
		fill-opacity: 1;
		stroke-width: 0;
	}
}

#hero,
#hero-mobile {
	height: 100%;
	position: absolute;
	width: auto;
}

#hero .left {
	opacity: 0;
	animation: fade-in .4s ease-in-out forwards 2s;
}

#hero .right {
	opacity: 0;
	animation: fade-in .4s ease-in-out forwards 2.2s;
}

.hero--mobile-background {
	opacity: 0;
	animation: fade-in .4s ease-in-out forwards 2s;
}

@keyframes fade-in {

	to {
		opacity: 1;
	}
}

.top {
	transform: translateX(-70px);
	animation: slide-in .4s ease forwards 3s;
}

#hero-mobile .top {
	opacity: 0;
	animation: fade-in .1s ease forwards 2.5s, slide-in .4s ease forwards 3s;
}

.bottom {
	transform: translateX(-81px);
	animation: slide-in .4s ease forwards 3.2s;
}

#hero-mobile .bottom {
	opacity: 0;
	animation: fade-in .1s ease forwards 2.5s, slide-in .4s ease forwards 3.2s;
}

.multiply-blend {
	mix-blend-mode: multiply;
}

@keyframes slide-in {

	to {
		transform: translateX(0);
	}
}

.celebrators {
	animation: slide-up-fade-in .6s ease-out forwards 3.8s;
	opacity: 0;
	transform: translateY(2px);
}

.hero .crimson-line {
	stroke-dasharray: 135;
	stroke-dashoffset: 135;
	animation: trace .2s ease-in-out forwards 1.4s;
}

.hero .white-line {
	animation: fade-in .6s ease-in-out forwards 3.8s;
	opacity: 0;
}

@keyframes waver {

	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-1px);
	}

	100% {
		transform: translateX(0);
	}
}

#hero-mobile {
	visibility: hidden;
	width: 100%;
}

@media screen and (max-width: 791px) {

	#hero {
		visibility: hidden;
	}

	#hero-mobile {
		visibility: visible;
	}
}

.intro h3,
.intro p {
	animation: slide-up-fade-in .4s ease-out forwards 4.8s;
	opacity: 0;
	transform: translateY(20px);
}

.intro h3:after {
	animation: underline .4s ease-in-out forwards 5.6s;
	opacity: 0;
	width: 0;
}

.intro p {
	animation-delay: 5.2s;
}

@keyframes slide-up-fade-in {

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes underline {

	to {
		opacity: 1;
		width: 100%;
	}
}


#details {
	left: 0;
	position: absolute;
	top: 0;
}

.layered-image {
	width: 100%;
}
