html {
	background: #fff;
}

.gray-background {
	background: #262626;
}

.bottom-border {
	border-bottom: 50px solid;
	position: relative;
}

.bottom-border:after {
	background: url(images/divider.gif);
	bottom: -50px;
	content: "";
	height: 50px;
	position: absolute;
	width: 100%;
}

.social-media {
	background: url(images/spirit-mark-white.svg) right 32px bottom no-repeat;
	background-size: 172px;
}
