.hero-symbols {
	display: none;
}

#hero--spirit-mark {
	height: 167px;
	position: absolute;
	right: 2rem;
	top: 50px;
	width: 170px;
}

@media screen and (max-width: 606px) {

	#hero--spirit-mark {
		right: 5.56vw;
	}
}

@media screen and (max-width: 747px) {

	#hero--spirit-mark {
		height: auto;
		width: 22.75vw;
	}
}

@media screen and (max-width: 833px) {

	#hero--spirit-mark {
		top: 6vw;
	}
}

@media only screen and (min-width: 1086px) {

	#hero--spirit-mark {
		right: calc(50% - 510px);
	}
}

#hero--spirit-mark path {
	fill-opacity: 0;
	stroke: #a60f2d;
	stroke-width: 1;
	animation: trace 1.2s ease-in-out forwards, paint .4s ease-in-out forwards .8s;
}

#hero--spirit-mark-w {
	stroke-dasharray: 570;
	stroke-dashoffset: 570;
}

#hero--spirit-mark-s {
	stroke-dasharray: 760;
	stroke-dashoffset: 760;
}

#hero--spirit-mark-u {
	stroke-dasharray: 200;
	stroke-dashoffset: 200;
}

#hero--spirit-mark-dot {
	stroke-dasharray: 55;
	stroke-dashoffset: 55;
}

@keyframes trace {

	to {
		stroke-dashoffset: 0;
	}
}

@keyframes paint {

	to {
		fill-opacity: 1;
		stroke-width: 0;
	}
}

#hero,
#hero-mobile {
	height: 100%;
	position: absolute;
	width: auto;
}

#hero .left {
	opacity: 0;
	animation: fade-in .4s ease-in-out forwards 2s;
}

#hero .right {
	opacity: 0;
	animation: fade-in .4s ease-in-out forwards 2.2s;
}

.hero--mobile-background {
	opacity: 0;
	animation: fade-in .4s ease-in-out forwards 2s;
}

@keyframes fade-in {

	to {
		opacity: 1;
	}
}

.hero--top {
	transform: translateX(-70px);
	animation: slide-in .4s ease forwards 3s;
}

#hero-mobile .hero--top {
	opacity: 0;
	animation: fade-in .1s ease forwards 2.5s, slide-in .4s ease forwards 3s;
}

.hero--bottom {
	transform: translateX(-81px);
	animation: slide-in .4s ease forwards 3.2s;
}

#hero-mobile .hero--bottom {
	opacity: 0;
	animation: fade-in .1s ease forwards 2.5s, slide-in .4s ease forwards 3.2s;
}

.multiply-blend {
	mix-blend-mode: multiply;
}

@keyframes slide-in {

	to {
		transform: translateX(0);
	}
}

.celebrators {
	animation: slide-up-fade-in .6s ease-out forwards 3.8s;
	opacity: 0;
	transform: translateY(2px);
}

.hero .crimson-line {
	stroke-dasharray: 135;
	stroke-dashoffset: 135;
	animation: trace .2s ease-in-out forwards 1.4s;
}

.hero .white-line {
	animation: fade-in .6s ease-in-out forwards 3.8s;
	opacity: 0;
}

@keyframes waver {

	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-1px);
	}

	100% {
		transform: translateX(0);
	}
}

#hero-mobile {
	visibility: hidden;
	width: 100%;
}

@media screen and (max-width: 791px) {

	#hero {
		visibility: hidden;
	}

	#hero-mobile {
		visibility: visible;
	}
}

.intro h3,
.intro p {
	animation: slide-up-fade-in .4s ease-out forwards 4.8s;
	opacity: 0;
	transform: translateY(20px);
}

.intro h3:after {
	animation: underline .4s ease-in-out forwards 5.6s;
	opacity: 0;
	width: 0;
}

.intro p {
	animation-delay: 5.2s;
}

@keyframes slide-up-fade-in {

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes underline {

	to {
		opacity: 1;
		width: 100%;
	}
}

#wide-receiver {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: auto;
}

@media screen and (max-width: 1952px) {

	#wide-receiver {
		left: calc(-1 * (-100vw + 1952px));
	}
}

@media screen and (max-width: 989px) {

	#wide-receiver {
		display: none;
	}
}

#running-back {
	height: auto;
	margin: -80px 0 0 -60%;
	width: 200%;
}

#offensive-line {
	height: auto;
	margin: -100px 0 0 -8vw;
	width: 57vw;
}

@media only screen and (min-width: 1420px) {

	#offensive-line {
		margin-left: -114px;
		width: 810px;
	}
}

#quarterback {
	height: auto;
	margin-top: -16px;
	width: 140%;
}

@media only screen and (max-width: 693px) {

	#running-back {
		margin: 0 0 -20px -35%;
		width: 170%;
	}

	#offensive-line {
		margin: -200px 0 -60px -32%;
		width: 240%;
	}

	#quarterback {
		margin: -50px 0 -50px -10%;
		width: 200%;
	}
}

#footer-hero {
	display: block;
	height: 100%;
	position: absolute;
	right: 0;
	width: auto;
}

#footer-hero .crimson-line,
#footer-hero .white-line {
	stroke-dasharray: 142;
	stroke-dashoffset: 142;
	transition: stroke-dashoffset .2s ease-in-out;
}

#footer-hero .white-line {
	transition-delay: .8s;
}

#footer-hero.start-animation .crimson-line,
#footer-hero.start-animation .white-line {
	stroke-dashoffset: 0;
}

.footer-hero--bw,
.footer-hero--overlay,
.footer-hero--color {
	opacity: 0;
	transition: opacity .4s ease-in-out .4s;
}

.start-animation .footer-hero--bw,
.start-animation .footer-hero--overlay,
.start-animation .footer-hero--color {
	opacity: 1;
}

.footer-hero--color {
	transition-delay: 2s;
	transition-duration: .6s;
}

.footer-hero--top {
	opacity: 0;
	transform: translateX(45px);
	transition: opacity 0s ease .8s, transform .4s ease-in-out 1.2s;
}

.footer-hero--bottom {
	opacity: 0;
	transform: translateX(95px);
	transition: opacity 0s ease .8s, transform .4s ease-in-out 1.6s;
}

.start-animation .footer-hero--top,
.start-animation .footer-hero--bottom {
	opacity: 1;
	transform: translateX(0);
}

.animate > * {
	opacity: 0;
	transform: translateY(60px);
	transition: opacity .4s, transform ease-in-out .4s;
}

.animate > .animated {
	opacity: 1;
	transform: translateY(0);
}

.parallax svg {
	position: relative;
}
